p {
    color: green;
}

img {
    width: 200px;
}

.testing {
    background-color: blue;
    color: coral;
}

.welcome {
    background-color: aliceblue;
    color: coral;
}

.tester2 {
    background-color: silver;
    color: cadetblue;
}